/*html5 semantics tag*/
header, section, footer, article, aside, main {
    display: block;
}
body {
    margin: 0;
    font-family: "times new roman ", sans-serif;
    /*background-color: #f0f0f0;*/
    background-color: #d1d1d1;
}
* {
    box-sizing: border-box;
}
/*Top nav bar*/
.item-float-right {
    float: right;
    margin-right: 10px;
}
header>nav {
    height: 48px;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #222;

}
header>nav>ul {
    background-color: #222;
    padding: 0 .5rem;
    margin: 0;
    border: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;

}
#sm_menu {
    display: none;

}
.desktop-none {
    display: none;
    margin-left: 0;
    /*margin-right: 50%;*/
}
.desktop-none img{ 
    margin: 0;
    padding: 0;
    border: 0;
    width: 60px;
    height: 40px;
    vertical-align: -11px;
    color: #000;
}
.list-desktop-none {
    display: none;
    width: 100%;
}

header>nav>ul>li {
    list-style-type: none;
    display: inline-block;
    padding: 0;

}
header>nav > ul > li > a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 300;
    padding: 11px 5px;
    font-size: 16px;
    vertical-align: baseline;
    display: inline-block;
    margin-top: .2rem;
}
.logo-sm {
    text-align: center;
    margin: 0 50%;
    padding: 0;
}
.logo-sm a {
    margin: 0;
    padding-top: 9px;
}
.close-menu {
    display: none;
}
header>nav>ul .logo-sm>a img {
    width: 45px;
    border: 0;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}
#notification-menu {
    display: none;
}
.gallery-img {
    padding: 12px 0 0 0;
    cursor: pointer;
    float: right;
    text-decoration: none;
    font-size: 20px;
    color: #33c24d;
}
@media only screen and (max-width: 1010px) {
    .floating-button {
        display: none;
    }
    .mb-fixed-menu-container {
        height: 100%;
        width: 100%;
    }
    .mb-fixed-menu-container  .fa {
        /*float: right;*/
        font-size: 25px;
        color: #ffffff;
        cursor: pointer;
        display: inline-block;
        padding: 10px;
        margin: 0;
    }
    .notice-icon {
        background-image: url(../images/web_icon/notifications.svg);
        background-size: 30px 30px;
        background-position: center center;
        background-repeat: no-repeat; 
        padding: 25px 25px 19px;
        margin-top: .2rem;
        float: right;
        cursor: pointer;
    }
    .mb-icon {
        background-size: 30px 30px;
        background-position: center center;
        background-repeat: no-repeat; 
        padding: 25px 20px 19px;
        margin-top: .2rem;
        float: right;
        cursor: pointer; 
        position: relative;
    }
    .mb-wish-icon {
        /*background-image: url(../images/icon/md-basket.svg);*/
        background-image: url(../images/icon/md-heart.svg);
    }
    .mb-cart-icon {
        background-image: url(../images/icon/md-cart.svg);
    }
    .list-desktop-none {
        display: inline-block;
    }
    .item-float-right {
        float: none;
        margin-right: 0;
    }
    #sm_menu {
        /*float: right;*/
        font-size: 25px;
        color: #ffffff;
        cursor: pointer;
        display: inline-block;
        padding: 10px;
    }
    #sm_menu:active {
        opacity: .8;
    }
    header>nav>ul { 
        overflow: hidden;
        position: absolute;
        z-index: 200;
        display: none;
        top: 48px;
        width: 35%;
        height: auto;
        padding: 30px 10px 15px 10px;
        /*animation:  side-menu-animation ease-in .5s;*/
    } 
    @keyframes side-menu-animation {
        form {
            left:0;
        }
        to {
            left:100px;
        }
    }
    header>nav>ul li {
        display: block;
    } 
    header>nav>ul li:hover{
        background-color: #000;
    }
    li.close-menu {
        float: right;
        display: block;
        color: #ffffff;
        cursor: pointer;
        position: absolute;
        top: 1px;
        right: 10px;
        font-size: 20px;

    }
    li.close-menu:active {
        opacity: .8;
    }
    header>nav > ul > li > a {
        display: block;
        width: 100%;
        margin: 0;
    }
    .gallery-img {
        display: none;
    }


    /*for notification menu*/
    #notification-menu {
        display: none;
        position: absolute;
        right: 0;
        z-index: 11;
        background-color: #ffffff;
        width: 440px;
        padding: 10px 20px;
        box-shadow: -4px 4px 8px 0 rgba(0,0,0,0.2);
    }
    /*for notice*/
    .nt-colse {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
    }
    #notification-menu  .notice-main-content {
        background-color: #ffffff;
    }
    #notification-menu  .notice-title {
        font-size: 20px;
        /*font-weight: 550;*/
        /*margin-top: 10px;*/
    }
    #notification-menu  .notice-media {
        display: flex;
        flex-wrap: wrap;  
        padding: .5rem;
        border: 1px solid #d3d3d3;
        margin-bottom: .4rem;
        color: #333333;
        font-weight: 400;
    }
    #notification-menu  .notice-media-button {
        text-align: center;
    }
    #notification-menu  .notice-media-button a {
        display: block;
        width: 100%;
        padding: .5rem;
        border: 1px solid #d3d3d3;
        margin-bottom: .4rem;
        color: blue;
        font-weight: 400;
        text-decoration: none;
        background-color: #d3d3d3;
        margin-top: 10px;

    }
    #notification-menu  .active-notice {
        background-color: #f7f7f7; 
    }
    #notification-menu  .notice-media:hover {
        background-color: #f1f1f1; 
        cursor: pointer;

    }
    #notification-menu  .notice-media img {
        width: 50px; 
        height: 50px; 
        border-radius: 50%;
        margin-top: .5rem
    }
    #notification-menu  .notice-media-body {
        padding:0;
        padding-left: .6rem;
    }
    #notification-menu .notice-media-body-title {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 0px;
    }
    #notification-menu  .notice-media-body-title a {
        text-decoration: none;
        color: blue;
    }
    #notification-menu .notice-media-body-title a:hover {
        text-decoration: underline;
    }
    #notification-menu  .notice-media-body-subtitle {
        font-size: 13px;
        padding-top: 2px;
        margin: 0;
    }


}
@media only screen and (max-width: 350px) {
    header>nav>ul { 
        width: 60%;
    } 

    #notification-menu {
        width: 280px;
        padding: 10px;
    }

    #notification-menu .notice-media-body {
        padding: 0;
        padding-left: .6rem;
        flex-basis: 83%;
    }
    #notification-menu .notice-media img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-top: .5rem;
        /*flex-basis: 7%;*/
    }


}



/*for body search box*/
.search-container {
    width: 100%;
    padding: .7rem .5rem;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    z-index: 10;
    top:0;
    box-shadow: 3px 3px 37px 19px rgba(0,0,0,0.1),-3px 3px 37px 19px rgba(0,0,0,0.1);
    box-shadow: 3px 3px 37px 19px rgba(0,0,0,0.1);
}
.logo-content {
    /*flex-basis: 20%;*/
    flex-basis: 24%;
}
.logo-content a {
    text-decoration: none;
    border: 0;
    outline: 0;
    user-select: none;
}
/*.logo-content img {
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    width: 200px;
    height: 45px;
}*/
.logo-content img {
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    width: 65px;
    height: 45px;
}
.logo-content span {
    padding: 10px 5px;
    font-size: 2rem;
    color: #000;
    vertical-align: 10px;
    font-weight: bold;
}


.search-content {
    /*flex-basis: 80%;*/
    flex-basis: 76%;
    position: relative;
}
.search-content select {
    margin: 0;
    border: 0;
    font-size: .9rem;
    height: 45px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff url(../images/web_icon/custom_select.svg) no-repeat right .75rem center;
    background-size: 8px 10px;
    display: inline-block;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    opacity: .9;
    background-color: #d9d9d9;
    background-color: #f0f0f0;
    width: 160px;
    padding: 0 5px;
    cursor: pointer;

}
.search-content input[type=search] {
    margin: 0;
    border: 0;
    font-size: 1rem;
    height: 45px;
    padding-left: 45px;
    width: 60%;
    background-color: #e0e0e0;
    background-color: #f0f0f0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.search-control-group {
    position: relative;
}
.body-search-icon {
    position: absolute;
    left: 180px;
    top: 13px;
    font-size: 20px;
    color: gray;
}



@media only screen and (max-width: 1010px) {
    .logo-content {
        display: none;
    }
    .desktop-none {
        display: inline-block;
    }
    .search-content {
        flex-basis: 100%;
        position: relative;
    }
    .search-content input[type=search] {
        width: 70%;
    }
    .floating-button {
        display: none;
    }

}
@media only screen and (max-width: 599px) {
    .search-content select {
        display: none;
    }
    .search-content input[type="search"] {
        width: 100%;
    }
    .body-search-icon {
        left: 15px;
    }
    .search-container {
        box-shadow: 3px 3px 37px 19px rgba(0,0,0,0.1);
    }
}


/*for autocomplete search*/

.autocomplete-items {
    position: absolute;
    /*border: 1px solid #d4d4d4;*/
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*top: 340px;*/
    width: 50%;
    margin-top: 20px;;
    left: 20%;
    box-shadow: 3px 3px 37px -19px rgba(0,0,0,0.1),-3px 3px 37px 19px rgba(0,0,0,0.1);
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    /*border-bottom: 1px solid #d4d4d4;*/ 
    color: #000;
    text-align: left;
    padding-left: 1.8rem;
}
.autocomplete-items div:hover {
    background-color: #f0f0f0; 
}
.autocomplete-active {
    background-color: #f3f3f3 !important; 
    color: #000; 
}

/*for recent search*/
.recent-search {
    text-align: left;
    background-color: #ffffff;
    color: #333333;
    position: absolute;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    width: 50%;
    margin-top: 20px;;
    left: 20%;
    display: none;
    box-shadow: 3px 3px 37px -19px rgba(0,0,0,0.1),-3px 3px 37px 19px rgba(0,0,0,0.1);
}
.recent-search ul {
    padding: 0;
    margin: 0;
    padding-left: 1.5rem;
}
.recent-search ul li {
    list-style-type: none;
    color: #000; 
    padding: 10px 10px 10px 10px;
}
.recent-search ul li a {
    text-decoration: none;
    color: black;
    display: block;
    font-size: 15px;
}
.recent-search ul li a:hover {
    /*background-color: #f3f3f3 !important;*/ 
    cursor: pointer;
    color: blue;
}

.recent-search span.list-clear {
    display: block;
    text-align: left;
    cursor: pointer;
    /*border: 1px solid black;*/
    border:0;
    color: #2680eb;
    background-color: #fff;
    width: 100%;
    padding: 10px 10px 10px 2rem;
    font-size: 15px;
}
.recent-search .recent-search-title {
    color: gray;
    padding-left: 1.5rem;
    margin-bottom: 10px;
    font-size: 14px;
}
@media only screen and (max-width: 850px) {
    .autocomplete-items, .recent-search {
        width: 60%;
        margin-top: 20px;;
        left: 32%;

    }
}
@media only screen and (max-width: 599px) {
    .autocomplete-items, .recent-search {
        width: 90%;
        margin-top: 18px;;
        left: 5%;
    }
}







/*for left side shopping cart menu*/
.floating-button  {
    float: left;
    display: block;
    position: absolute;
    width: 70px;
    height: 270px;
    left: 1%;
    position: fixed;
    top: 37%;
    border: 1px solid #e7e7e7;
    /*border: 1px solid #e1e1e1;*/
    background: -webkit-linear-gradient(#fdfdfd,#FFFFFF);
    background: linear-gradient(#fdfdfd,#FFFFFF); 
    /*box-shadow: 0 0 3px 2px rgba(231,231,231,.75);*/
    text-align: center;
    padding: 15px 6px 10px!important;
    border-radius: 4px;
    z-index: 3050;
    text-decoration: none;
}
.btn-cart, .btn-wishlist {
    background: -webkit-linear-gradient(right,#FFFFFF,#e2e5e9,#FFFFFF) left bottom no-repeat;
    background: linear-gradient(to left,#FFFFFF,#e2e5e9,#FFFFFF) left bottom no-repeat;
    background-size: 100% 1px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    padding-bottom: 1px;
}
.btn-cart a, .btn-wishlist a {
    text-decoration: none;
    color: black;
}
.btn-cart a p, .btn-wishlist a p{
    margin-top: 5px;
    margin-bottom: 7px;
    font-size: 100%;
    font-weight: bold;
    text-transform: capitalize;
}
.count-wrapper {
    position: relative;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.count {
    padding: 1px 6px;
    position: absolute;
    top: -25%;
    right: 20%;
    background-color: #d64541;
    border-radius: 50%;
    font-size: 14px;
    color: #fff;
    /*font-weight: bold;*/
    color: #ffffff;

}




/*footer*/ 
body>footer {
    height: auto;
    padding: 3px 0 0 0;
    background: #101123 url(../images/web_icon/split_bottom.png) repeat-x left top;
    background-size: 10px 3px;
    border-bottom: 1px solid #00b5f0;
    position: relative;
    bottom: 0;
    left: 0;
}

body>footer>div {
    height: 316px;
    padding: 32px 5% 0 5%;
    color: #fff;
    font: 13px/16px MuseoSans500Regular, sans-serif;
}

body>footer>div h4 {
    position: relative;
    margin-bottom: 15px;
    font: 12px MuseoSans700Regular, sans-serif;
    text-transform: uppercase;
    cursor: default;
    color: aquamarine;
}


body>footer .column {
    float: left;
    width: 25%;
}

body>footer .column nav ul {
    padding: 0;
    margin: 0 ;
}

body>footer .column nav ul li {
    margin-bottom: 6px;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}

body>footer .column nav ul li a {
    color: #ccc;
    transition: all .5s ease-out 0s;
    text-decoration: none;
}
body>footer .column nav ul li a:hover {
    color: #fff;
    text-decoration: underline
}
body>footer .column nav span.fa {
    font-size: initial;
    color: white;
}
body>footer .column .signoff h5 a {
    display: block;
    width: 130px;
    height: 26px;
    text-indent: -7777px;
    background: url(../images/web_icon/photostock.png) no-repeat 0 0;
    background-size: 130px 26px;
    border-radius: 5px;
}

body>footer .column .signoff p {
    width: 180px;
    margin: 0;
    color: #8d8d91;
    font: 11px/18px MuseoSans500Regular, sans-serif;
}
.ps{
    color: deeppink; 
}

@media only screen and (max-width:400px) {

    body>footer .column:first-child {
        display: none;
    }
    body>footer>div {
        padding: 0;
        margin:0;
    }
    body>footer .column {
        width: 33.33%;
    }
    body>footer>div h4 {
        font: 11px MuseoSans700Regular, sans-serif;
    }
    body>footer .column nav ul li a {
        font-size: 10px;
    }
}



@media only screen and (max-width: 1010px) {
    .floating-button {
        display: none;
    }
    section > .collection {
        position: relative;
        padding: 50px 10px 30px 10px;
        display: block;
    }
}


/*for preview model*/
.preview-modal ul {
    padding: 0;
    margin: 0;
}
.preview-modal li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.preview-modal {
    user-select: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    overflow: auto;
    display: none;
}
.preview-modal_body {
    /*background-color: #fff;*/
    width: 40%;
    margin: 2rem auto 10rem auto ;
    animation: ani_in 1s 1;
    min-width: 500px;
}

@keyframes ani_in {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}


.preview-close {
    float: right;
    cursor: pointer;
}
.preview-modal_header {
    background-color: #fff;
    position: relative;
    padding: 5px 5px 5px 10px ;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.preview-modal_header-content h2 {
    margin: 10px 0;
    font-size: 110%;
    color: #4b4b4b;
    font-style: italic;
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 400;
    user-select: none;

}
.preview-modal-content {
}
.preview-modal-content img {
    width: 100%;
    height: 100%;
    min-height: 600px;
}
.preview-modal-title, #preview_desginer_name {
    text-transform: capitalize;
}
#preview_desginer_name {
    color: dodgerblue;
}
