
.table-container {
    /*margin: 10px;*/
    width: 100%;
}

.tab-content {
    width: 100%;
    padding: 10px;
}

.table-pagination {
    margin: 0;
    white-space: nowrap;
    text-align: right;
    font-size: 0.95rem;
}
.table-pagination ul {
    justify-content: flex-end;
    display: flex;
    /*flex-wrap: nowrap;*/
    flex-wrap: wrap;
    border-radius: 0.35rem;
    text-align: right;
}
.table-pagination ul li {
    /*display: inline-block;*/
    user-select:none;
}
.table-pagination ul li a {
    /*    pointer-events: none;*/
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #0061f2;
    background-color: #fff;
    border: 1px solid #d7dce3;
    text-decoration: none;
    white-space: nowrap;

}

.p-active {
    z-index: 3;
    color: #fff !important;
    background-color: #0061f2 !important;
    border-color: #0061f2 !important;
}
.table-pagination ul li a:hover {
    z-index: 2;
    color: #0042a6;
    text-decoration: none;
    background-color: #e0e5ec;
    border-color: #d7dce3;
}
.table-pagination ul li a:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 97, 242, 0.25);
    z-index: 2;
}
.table-pagination ul li:last-child  a {
    border-top-right-radius: 0.35rem;
    border-bottom-right-radius: 0.35rem;
    cursor: pointer;
}
.table-pagination ul li:first-child  a {
    border-top-left-radius: 0.35rem;
    border-bottom-left-radius: 0.35rem;
    cursor: pointer;
}

.tab-content ul {
    display: flex;
    flex-wrap: wrap;
    /*width: 120%;*/
    border: 0;
    outline: 0;
    border-bottom: 1px solid #d1d1d1;
    padding-left: 50px;
    margin-left: -20px;
    margin-right: -20px;
}
.tab-content ul li {
    display: inline-block;
    margin-bottom: -1px;
}
.tab-content ul li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    text-decoration: none;
    color: #333333;
    border: 1px solid transparent; 
    transition: all .5s;
    outline: 0;
    user-select: none;
}

.tab-content ul li a:hover {
    border-color: #d3d3d3;
}
.tab-content ul li  .tab-active { 
    box-shadow: inset 0 4px 0 0 #33c24d;
    background-color: #ffffff;
    border-color: #d3d3d3 #d3d3d3 #ffffff;
    color: #33c24d;
}

.show {
    display: block !important;
}


.table-content {
    padding: 10px;
    display: none;
    overflow-y: auto;
}
.table {
    clear: both;
    margin-top: 6px ;
    margin-bottom: 6px ;
    max-width: none ;
    border-collapse: separate ;
    border-spacing: 0;
    border: 1px solid #e0e5ec;
    color: #22272e;
    border-right-width: 0;
    width: 100%;

}
.table caption {
    margin-bottom: 10px;
    font-size: 120%;
    /*text-decoration: underline;*/
    user-select:none;
}
.caption-searchbox {
    float: left;
}
.caption-searchbox input {
    padding: 7px 15px;
    font-size: 1rem;
    color: gray;
    font-weight: 400;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.caption-searchbox input:focus, .caption-select-box select:focus {
    color: #495057;
    background-color: #ffffff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}
.caption-text {
    margin-left: -70px;
    color: #00adea;
    font-size: 100%;
    /*font-weight: bold;*/
}
.caption-select-box {
    float: right;
}
.caption-select-box select {
    padding: 5px 20px;
    border: 1px solid #d1d1d1;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(../../images/table_icon/up_down.svg);
    background-position: 90% 55%;
    background-size: 15px 13px;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 3px;
    outline: 0;
}
.caption-select-box select option {
    outline: 0;
}

.table tr:nth-child(odd) {

}
.table tr th,.table tr td  {
    padding: 10px;
    font-size: 0.90rem;
    border: 1px solid #e0e5ec;
    border-left-width: 0;
    text-align: left;
}
.table tr th {
    padding-right: 10px;
    color: #0061f2;
    font-weight: 900;
    vertical-align: bottom;
    border-bottom: 2px solid #e0e5ec;
    min-width: 100px;
    cursor: pointer;
    user-select: none;
}
#fullTable_list tr th {
    min-width: 125px;
}
.th_down {
    background-image: url(../../images/table_icon/down.svg);
    background-position: 90% 50%;
    background-size: 10px 15px;
    background-repeat: no-repeat;
}
.th_updown {   
    background-image: url(../../images/table_icon/up_down.svg);
    background-position: 90% 50%;
    background-size: 10px 15px;
    background-repeat: no-repeat;
}
.table tr td  {
    box-sizing: content-box;
    padding: 0.75rem;
    vertical-align: top;
    border-bottom-width: 0;
    vertical-align: sub;
}
.table tbody tr:hover {
    color: #22272e;
    background-color: rgba(224, 229, 236, 0.25);
}

.table tbody tr .edit {
    text-align: center;
    min-width: 100px;

}
.table tbody td button, .table tbody td a {
    padding:  0;
    border-radius: 0.35rem;
    outline: 0;
    cursor: pointer;
    color: #ffffff;
    border: 0;
    margin-right: 0.5rem;
    /*border: 2px solid #fff;*/
    display: inline-block;
    /*border-style: none;*/
    text-decoration: none;
}
.table tbody td  .fa {
    font-size: 120%;
    color: rgba(34, 39, 46, 0.3) ;
    border-style: none;
    outline: 0;
    border: 0;
    padding: 3px;
}
.table tbody td button:hover , .table tbody td a:hover{
    background-color: #f1f1f1;
}
.table tbody td button:focus, .table tbody td a:focus {
    box-shadow: 0 0 0 0.2rem rgba(34, 39, 46, 0.25) !important;
    background-color: rgba(34, 39, 46, 0.1);

}



/*for profile card*/
.profile-header {
    clear: both;
    background-color: forestgreen;
    padding: 10px;
    margin: -10px -10px 10px -10px;
    color: #fff;
    font-size: 150%;
    text-align: center;
    user-select:none;

}
.profile-header p {
    margin: 10px 0;
}
.profile-card {
    width: 45%;
    margin: 20px auto;

}
.profile-content {
    padding: 10px;
    border: 1px solid #d3d3d3;
    display: block;
    position: relative;
    box-shadow: 4px 4px 30px 20px rgba(0,0,0,0.2);
    background-color: #ffffff;
}
.profile-card img {
    width: 100%;
    height: 100%;
}
.profile-body-content {
    min-height: 100px;
}
.profile-body-content h1 {
    text-transform: capitalize;
    margin: 10px 0;
}
.profile-body-content p {
    margin: 10px 0;

}
.profile-body-content .name-title {
    color: orange;
    font-style: italic;
}
.profile-body-content p {
    font-size: 110%;
    text-transform: capitalize
}
.profile-body-content p span {
    color: blue;
    font-style: italic;
    font-weight: bold;
}
.contact-section {
    /*text-align: right;*/ 
    padding-bottom: 10px;
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    font-size: 110%;

}
.contact {
    /*float: right;*/
    position: relative;
    width: 70%;

}
.contact-titel {
    text-decoration: underline;
    font-weight: bold;

}



.profile-footer {
    clear: both;
    background-color: #00adea;
    padding: 10px;
    margin: 10px -10px -10px -10px;
}


@media only screen and (max-width: 850px) {
    .profile-card {
        width: 80%;
    }
    .body-main-content {
        padding: 0px;
    }

}
@media only screen and (max-width: 350px) {
    .profile-card {
        width: 95%;
    }


}